::selection{
    background: #47b475;
    color: #FFFFFF;
}
::-moz-selection {
    background: #47b475;
    color: #FFFFFF;
}

#magic-line {
    position: absolute;
    bottom: 11px;
    left: 0;
    width: 37px;
    height: 1px;
    background: #fe4902;
    transition: none;
    margin-left: 16px;
    padding: 0;
}
.profile-dropdown:after {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 11px;
    color: #ffffff;
    content: "\e62b";
    font-family: 'themify';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
}
.profile-dropdown.logged:after {
    content: "\e602";
}

@-webkit-keyframes ani-mouse {
    0% {
        opacity: 1;
        top: 29%;
    }
    15% {
        opacity: 1;
        top: 50%;
    }
    50% {
        opacity: 0;
        top: 50%;
    }
    100% {
        opacity: 0;
        top: 29%;
    }
}
@-moz-keyframes ani-mouse {
    0% {
        opacity: 1;
        top: 29%;
    }
    15% {
        opacity: 1;
        top: 50%;
    }
    50% {
        opacity: 0;
        top: 50%;
    }
    100% {
        opacity: 0;
        top: 29%;
    }
}
@keyframes ani-mouse {
    0% {
        opacity: 1;
        top: 29%;
    }
    15% {
        opacity: 1;
        top: 50%;
    }
    50% {
        opacity: 0;
        top: 50%;
    }
    100% {
        opacity: 0;
        top: 29%;
    }
}
.scroll-btn {
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    bottom: 0;
    z-index: 2;
}
.scroll-btn > * {
    display: inline-block;
    line-height: 18px;
    font-size: 13px;
    font-weight: normal;
    color: #dcdcdc;
    font-family: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
    letter-spacing: 2px;
}
.scroll-btn > *:hover,
.scroll-btn > *:focus,
.scroll-btn > *.active {
    color: #dcdcdc;
}
.scroll-btn > *:hover,
.scroll-btn > *:focus,
.scroll-btn > *:active,
.scroll-btn > *.active {
    opacity: 0.8;
    filter: alpha(opacity=80);
}
.scroll-btn .mouse {
    position: relative;
    display: block;
    width: 35px;
    height: 55px;
    margin: 0 auto 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #dcdcdc;
    border-radius: 23px;
}
.scroll-btn .mouse > * {
    position: absolute;
    display: block;
    top: 29%;
    left: 50%;
    width: 8px;
    height: 8px;
    margin: -4px 0 0 -4px;
    background: #dcdcdc;
    border-radius: 50%;
    -webkit-animation: ani-mouse 2.5s linear infinite;
    -moz-animation: ani-mouse 2.5s linear infinite;
    animation: ani-mouse 2.5s linear infinite;
}

.mt-1px{
    margin-top: 1px;
}

.mb-0px{
    margin-bottom: 0;
}

.mb-25px{
    margin-bottom: 25px;
}

.mr-15px{
    margin-right: 15px !important;
}

.mt-15px{
    margin-top: 15px;
}

table td.w170px{
    width: 170px;
}

table td.w195px{
    width: 195px;
}

input[type="password"].mb-5px{
    margin-bottom: 5px;
}

.password-reset-link{
    margin-bottom: 15px;
    text-align: left;
}

.radio-error span{
    color: #ce3838;
}

.double-column{
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
}

nav .nav-home, nav .nav-home .menu > li ul{
    background-color: rgba(34, 34, 34, 0.2);
}

nav .nav-blog, nav .nav-blog .menu > li ul{
    background-color: #525252;
}

nav .nav-profile, nav .nav-profile .menu > li ul{
    background-color: #525252;
}

nav .nav-authorize-question, nav .nav-authorize-question .menu > li ul{
    background-color: rgba(34, 34, 34, 0.6);
}

nav.fixed.scrolled { display: none; }

a.question-btn, input.question-btn{
    width: 100%;
    height: 40px;
    line-height: 38px;
    margin-bottom: 0;
}

div.question-body{
    font-size: 17px;
    clear: both;
    position: relative;
}

div.question-body img{
    padding: 5px 0 10px 0;
    display: block;
    max-width: 250px;
    margin-right: 50px;
    float: left;
}

div.question-body .modal-container{
    float: right;
}

div.question-body .question-text{
    display: inline-block;
    width: 540px;
}

div.question-body p{

}

.question-authenticate{
    margin: 20px auto;
    max-width: 600px;
}
.question-authenticate p{
    font-size: 16px;
}
.question-authenticate p i{
    display: block;
    margin: 15px auto;
    font-size: 100px;
    color: darkgray;
}
a.social-login{
    width: 100%;
}

a.btn.local:hover{
    color: white;
    border-color: #47b475;
    background-color: #47b475;
}
a.btn.local{
    color: white;
    border-color: #47b475;
    background-color: #47b475;
}

a.btn.create:hover{
    color: white;
    border-color: #d88519;
    background-color: #d88519;
}
a.btn.create{
    color: white;
    border-color: #d88519;
    background-color: #d88519;
}

a.btn.google:hover{
    color: white;
    border-color: #D73D32;
    background-color: #D73D32;
}
a.btn.google{
    color: white;
    border-color: #D73D32;
    background-color: #D73D32;
}

a.btn.facebook:hover{
    color: white;
    border-color: #3B5998;
    background-color: #3B5998;
}
a.btn.facebook{
    color: white;
    border-color: #3B5998;
    background-color: #3B5998;
}

a.btn.twitter:hover{
    color: white;
    border-color: #1DA1F2;
    background-color: #1DA1F2;
}
a.btn.twitter{
    color: white;
    border-color: #1DA1F2;
    background-color: #1DA1F2;
}

form .textarea-holder{
    position: relative;
}

form .textarea-holder .charNum{
    position: absolute;
    right: 6px;
    bottom: 32px;
}

.left{
    float: left;
}

.right{
    float: right;
}

.image-upload .drop-zone.empty::before,
.image-upload .drop-article-zone.empty::before{
    content: "\e64e";
}

.image-upload .drop-zone.empty img,
.image-upload .drop-article-zone.empty img{
    display: none;
}

.image-upload .drop-zone::before,
.image-upload .drop-article-zone::before{
    font-family: 'themify';
    content: "";
    color: #CCCCCC;
    font-size: 80px;
    line-height: 1;
    top: 50%;
    left: 50%;
    margin: -40px 0 0 -40px;
    position: absolute;
}

.image-upload .drop-zone,
.image-upload .drop-article-zone {
    position: relative;
    width: 50%;
    padding-bottom: 50%;
    color: #aaa;
    text-align: center;
    border-radius: 3px;
    background: #F5F5F5;
    cursor: pointer;
}

.image-upload .question-image img.image-preview,
.image-upload .article-image img.image-article-preview{
    position: absolute;
    max-width: 100%;
    max-height: 100%;
    margin: auto;
    top: 0; left: 0; bottom: 0; right: 0;
}

.upload-button input[type="file"]{
    visibility: hidden;
    opacity: 0;
    width: 0;
    height: 0;
    color: rgba(255,255,255,0);
}

.image-actions{
    width: 50%;
    text-align: right;
}

.image-actions .image-info-block{
    width: 90%;
    margin: 0 0 10px 10%;
    text-align: left;
}
.image-actions .image-info-block p{
    margin-bottom: 10px;
    width: 100%;
    font-size: 12px;
    line-height: 1.4;
}
.clear{
    clear: both;
}

.image-actions a.btn.image-button{
    margin: 0 0 20px 0;
    width: 90%;
    min-width: 50px;
}

.image-actions a.btn.upload:hover{
    color: white;
    border-color: #47b475;
    background-color: #47b475;
}
.image-actions a.btn.upload{
    color: white;
    border-color: #47b475;
    background-color: #47b475;
}

.image-actions a.btn.remove:hover{
    color: white;
    border-color: #D73D32;
    background-color: #D73D32;
}
.image-actions a.btn.remove{
    color: white;
    border-color: #D73D32;
    background-color: #D73D32;
}

.textarea-holder textarea{
    width: 100%;
    height: 200px;
}

.user-photo{
    margin-bottom: 20px;
}

.user-photo .image{
    max-width: 160px;
    width: 70%;
}

.widget .title.username{
    margin-bottom: 0;
    line-height: 1;
}

.user-email{
    margin-bottom: 20px;
}

.user-menu .lead a{
    font-weight: 300;
    color: #666;
    transition: none;
    -webkit-transition: none;
    -moz-transition: none;
}

.user-menu .lead a:hover{
    font-weight: 300;
    color: #398f5d;
}

.user-menu .lead .um-active a:hover{
    color: #398f5d;
}

.user-menu .lead .um-active a{
    font-weight: 600;
    color: #47b475;
}

.widget .title.balance{
    margin-bottom: 0;
}

.display-after-load{
    display: none;
}

.tab-content table.table > tbody > tr:first-child > td{
    border-top: none;
}

.tabs a{
    font-weight: 700;
    color: #666;
}

.tabs a:hover{
    color: #333;
}

.numbers{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}

input.profile-button{
    width: 185px;
    height: 40px;
    font-size: 11px;
    line-height: 30px;
    min-width: 0;
}
input.profile-button:hover{
    background-color: #40A269;
    color: white;
}

input.less-profile-input-margin{
    margin-bottom: 15px;
}

*:focus {
    outline: none;
}

.gender-profile .radio-option + span {
    font-weight: 400;
    margin-left: 4px;
}

form.general-profile .input-with-label span {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    letter-spacing: inherit;
    font-weight: inherit;
    display: inline-block;
    cursor: default;
}

form.general-profile h5, form.login-profile h5, form.create-article h5{
    margin-bottom: 10px;
}

.no-padding{
    padding-left: 0;
    padding-right: 0;
}

form.general-profile .input-with-label span.text-red{
    color: red;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

form.general-profile select:active, form.general-profile select:focus, form.general-profile select:hover {
    outline: inherit;
    border: inherit;
}

form.general-profile .select-option {
    overflow: inherit;
}

form.general-profile .gender-profile.radio-error span{
    color: #c64444;
}
form.general-profile .double-column{
    margin-left: 1px;
}

.image {
    position: relative;
}

.image img {
    width: 100%;
    vertical-align: top;
}

.image:after {
    content: 'CHANGE IMAGE';
    color: #fff;
    position: absolute;
    width: 100%;
    text-align: center;
    line-height: 2.4;
    bottom:0; left:0;
    background:rgba(0,0,0,0.6);
    opacity: 0;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
}

.image:hover:after {
    opacity: 1;
}

.avatar-overlay{
    width: 100%;
    top:0;
    left:0;
    height: 100%;
    position: absolute;
    background:rgba(0,0,0,0.6);
}

.center-cropped .spinner-layer{
    z-index: 5;
    opacity: 1;
    -webkit-animation: fill-unfill-rotate 5332ms cubic-bezier(0.4, 0, 0.2, 1) infinite both;
    animation: fill-unfill-rotate 5332ms cubic-bezier(0.4, 0, 0.2, 1) infinite both;
    position: absolute;
    width: 100%;
    height: 100%;
    border-color: #FFFFFF;
}

.center-cropped .circle-clipper {
    display: inline-block;
    position: relative;
    width: 50%;
    height: 100%;
    overflow: hidden;
    border-color: inherit;
}

.center-cropped .gap-patch {
    position: absolute;
    top: 0;
    left: 45%;
    width: 10%;
    height: 100%;
    overflow: hidden;
    border-color: inherit;
}

@-webkit-keyframes container-rotate{
    to{
        -webkit-transform: rotate(360deg)
    }
}
@keyframes container-rotate{
    to{
        -webkit-transform:rotate(360deg);
        transform:rotate(360deg)
    }
}

@-webkit-keyframes fill-unfill-rotate{
    12.5% { -webkit-transform:rotate(135deg) }
    25% { -webkit-transform:rotate(270deg) }
    37.5% { -webkit-transform:rotate(405deg) }
    50% { -webkit-transform:rotate(540deg) }
    62.5% { -webkit-transform:rotate(675deg) }
    75% { -webkit-transform:rotate(810deg) }
    87.5% { -webkit-transform:rotate(945deg) }
    to { -webkit-transform:rotate(1080deg)}
}
@keyframes fill-unfill-rotate{
    12.5% {
        -webkit-transform:rotate(135deg);
        transform:rotate(135deg)}
    25% {
        -webkit-transform:rotate(270deg);
        transform:rotate(270deg)}
    37.5% {
        -webkit-transform:rotate(405deg);
        transform:rotate(405deg)}
    50% {
        -webkit-transform:rotate(540deg);
        transform:rotate(540deg)}
    62.5% {
        -webkit-transform:rotate(675deg);
        transform:rotate(675deg)}
    75% {
        -webkit-transform:rotate(810deg);
        transform:rotate(810deg)}
    87.5% {
        -webkit-transform:rotate(945deg);
        transform:rotate(945deg)}
    to {
        -webkit-transform:rotate(1080deg);
        transform:rotate(1080deg)}
}

@-webkit-keyframes left-spin{
    from{
        -webkit-transform:rotate(130deg)}
    50%{
        -webkit-transform:rotate(-5deg)}
    to{
        -webkit-transform:rotate(130deg)}
}

@keyframes left-spin{
    from{
        -webkit-transform:rotate(130deg);
        transform:rotate(130deg)}
    50%{
        -webkit-transform:rotate(-5deg);
        transform:rotate(-5deg)}
    to{
        -webkit-transform:rotate(130deg);
        transform:rotate(130deg)}
}

@-webkit-keyframes right-spin{
    from{
        -webkit-transform:rotate(-130deg)}
    50%{
        -webkit-transform:rotate(5deg)}
    to{
        -webkit-transform:rotate(-130deg)}
}

@keyframes right-spin{
    from{
        -webkit-transform:rotate(-130deg);
        transform:rotate(-130deg)}
    50%{
        -webkit-transform:rotate(5deg);
        transform:rotate(5deg)}
    to{
        -webkit-transform:rotate(-130deg);
        transform:rotate(-130deg)}
}

.center-cropped .preloader-wrapper{
    -webkit-animation: container-rotate 1568ms linear infinite;
    animation: container-rotate 1568ms linear infinite;
    width: 36px;
    height: 36px;
    margin-top: 42px;
    display: none;
    position: relative;
}

.center-cropped .gap-patch .circle {
    width: 1000%;
    left: -450%;
}

.center-cropped .circle {
    border-radius: 50%;
}

.center-cropped .circle-clipper.left .circle {
    -webkit-animation: left-spin 1333ms cubic-bezier(0.4, 0, 0.2, 1) infinite both;
    animation: left-spin 1333ms cubic-bezier(0.4, 0, 0.2, 1) infinite both;
    left: 0;
    border-right-color: transparent !important;
    -webkit-transform: rotate(129deg);
    transform: rotate(129deg);
}

.center-cropped .circle-clipper.right .circle {
    -webkit-animation: right-spin 1333ms cubic-bezier(0.4, 0, 0.2, 1) infinite both;
    animation: right-spin 1333ms cubic-bezier(0.4, 0, 0.2, 1) infinite both;
    left: -100%;
    border-left-color: transparent !important;
    -webkit-transform: rotate(-129deg);
    transform: rotate(-129deg);
}

.center-cropped .circle-clipper .circle{
    width: 200%;
    height: 100%;
    border-width: 3px;
    border-style: solid;
    border-color: inherit;
    border-bottom-color: transparent !important;
    border-radius: 50%;
    -webkit-animation: none;
    animation: none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
}

div.center-cropped {
    width: 120px;
    height: 120px;
    margin-right: 24px;
    overflow: hidden;
    position: relative;
}

div.center-cropped img {
    max-width: none;
    position:absolute;
    margin: auto;
    min-height: 100%;
    min-width: 100%;
    top: 0;
    left: 0;
}

.avatar-errors{
    color: #c64444;
    margin-top: 10px;
    height: 24px;
}

.avatar-actions{
    width: 50%;
}

.avatar-actions input[type="submit"], .avatar-actions a.btn{
    width: 150px;
    margin-left: 0;
    min-width: 150px
}

.avatar-actions a.btn:hover{
    color: white;
    border-color: #47b475;
    background-color: #47b475;
}

.avatar-input{
    visibility: hidden;
    opacity: 0;
    width: 0;
    padding: 0;
    margin: 0;
    height: 0;
    color: rgba(255,255,255,0);
}

.avatar-container{
    width: 50%;
}

input[type="submit"].disabled{
    cursor: default;
    border-color: #DBDBDB;
    background-color: #DBDBDB;
}

@media all and (max-width: 600px){
    .double-column{
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1;
    }
}
@media (min-width: 768px){
    .col-sm-3.no-padding-left{
        padding-left: 0;
        padding-right: 0;
    }
    .col-sm-4.no-padding-right{
        padding-right: 0;
        padding-left: 0;
    }
}

form.inline{
    display: inline;
}

button.delete-draft-question{
    line-height: initial;
    background-color: transparent;
    margin: 0 10px 0 0;
    display: inline;
    color: #47b475;
    border: none;
    padding: 0;
    width: auto;
    height: auto;
}

.show-answer-btn, .show-answer-btn:link,
.show-answer-btn:visited, .show-answer-btn:hover,
.show-answer-btn:active{
    color: #FFFFFF;
    margin: 0;
    background-color: #47b475;
}
.show-answer-btn:hover,
.show-answer-btn:active{
    background-color: #40A269;
}

.your-question .question-body{
    font-size: 18px;
}

.menu > li.notifications-dropdown:last-child > ul {
    right: -140px;
    margin-top: -2px;
}

.menu > li.notifications-dropdown ul li *{
    text-transform: none;
}
.menu li.notifications-dropdown .number-circle {
    border-radius: 50%;
    bottom: 13px;
    left: 13px;
    width: 16px;
    height: 16px;
    padding: 2px;
    line-height: 10px;
    background: #c64444;
    border: 2px solid #c64444;
    color: #FFFFFF;
    text-align: center;
    display: inline-block;
    position: absolute;
}
.module.notifications-widget-handle{
    padding: 0;
}
.cart-overview a, .cart-overview li{
    line-height: 1;
}
.cart-widget-handle .btn:hover{
    color: #FFFFFF;
}
.widget .cart-overview .description{
    line-height: 1.4;
}
.cart-widget-handle .function span:hover{
    color: #000000 !important;
}
.cart-widget-handle .description i{
    color: inherit !important;
    line-height: inherit !important;
    font-size: 13px;
}
.notifications-table tr:hover {
    background-color: rgba(130, 130, 130, 0.08);
    cursor: pointer;
}
table.notifications-table>tbody>tr>td{
    padding: 0;
    line-height: 1 !important;
}
table.notifications-table>tbody>tr>td a{
    padding: 10px;
    color: #222222;
    display: inline-block;
    width: 100%;
}
.bigger{
    font-size: 18px;
}
.notification-time{
    color: #CCCCCC;
}
.notifications-table a {
    font-weight: normal;
}
.notifications-table .bold a{
    font-weight: 600;
}
.questions-container p{
    padding: 8px;
}
.error-404 .btn:hover{
    background-color: #47b475;
    color: #FFFFFF;
}
.btn-filled:focus{
    color: #FFFFFF;
}
.btn-white:visited:hover, .btn-white:hover {
    color: #47b475;
}
.btn-filled:visited:hover, .btn-filled:hover {
    color: #47b475;
    background-color: #FFFFFF;
}
p.voucher-back{
    font-weight: 400;
    font-size: 100px;
    z-index: 0;
    color: rgba(52, 52, 52, 0.08);
    left: 0;
    right: 0;
    top: 25px;
}
.boxed p.voucher-back{
    color: rgba(71, 180, 117, 0.2);
}
.emphasis p.voucher-back{
    color: rgba(255, 255, 255, 0.2);
}
section.pb-20px{
    padding-bottom: 20px;
}
section.pt-20px{
    padding-top: 20px;
}
section.pb-0px{
    padding-bottom: 0;
}
footer.bg-dark span{
    color: #939393;
}
.form-contacts button{
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}
.form-contacts button:hover{
    color: #47b475;
    background-color: #FFFFFF;
}
.btn-hover, .btn-hover:visited{
    color: #FFFFFF;
    background-color: #47b475;
    border-color: #47b475;
}
.btn-hover:hover{
    background-color: #FFFFFF;
    color: #47b475;
}
#payment-form{
    min-height: 259px;
}
.payment-form{
    max-width: 500px;
    margin: auto;
}
input[type="text"].voucher-claim{
    background-color: #FFFFFF;
    border: 1px solid #ccc;
    width: 70%;
    margin-bottom: 0;
    margin-top: 24px;
}
input[type="text"].voucher-claim:focus{
    outline: none;
}
.vouchers-form-select .pricing-table{
    cursor: pointer;
    border: 1px solid #EEEEEE;
}
.label_description{
    color: #BBBBBB;
    margin-bottom: 5px;
}
span.text-red{
    font-size: 16px;
    font-weight: normal;
    color: red;
    display: inline;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.btn.voucher-check{
    width: initial;
}
.btn:focus{
    text-decoration: none;
}
.rating-wrapper {
    overflow: hidden;
    display: inline-block;
    position: relative;
}

.rating-input {
    opacity: 0;
    width: 0;
    height: 0;
    visibility: hidden;
    padding: 0;
    margin: 0;
    position: absolute;
}

.rating-star:hover,
.rating-star:hover ~ .rating-star {
    background-position: 0 0;
}

.rating-wrapper:hover .rating-star:hover,
.rating-wrapper:hover .rating-star:hover ~ .rating-star,
.rating-input:checked ~ .rating-star {
    background-position: 0 0;
}

.rating-star,
.rating-wrapper:hover .rating-star {
    float: right;
    display: block;
    width: 20px;
    height: 16px;
    cursor: pointer;
    background: url('../images/stars.png') 0 -16px no-repeat;
}

.answer-rating input[type="submit"] {
    width: 150px;
}

.articles-list .table>tbody>tr:first-child>th,
.articles-list .table>thead>tr:first-child>th{
    border-top: none;
}
.articles-list p{
    padding: 8px;
}

.create-article .mce-btn .mce-txt{
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size: 10px;
    display: inherit;
}
.create-article .mce-panel{
    background-color: #f5f5f5;
    border: 0 solid rgba(0, 0, 0, 0.02);
}
.create-article .mce-tinymce{
    margin-bottom: 20px;
}
.create-article .mce-path{
    display: none;
}
.create-article .mce-btn{
    background-color: #f5f5f5;
}
.inner-article .post-title h4{
    font-size: 35px;
}
.inner-article .post-snippet img{
    max-height: 500px;
    max-width: 50%;
    float: left;
    margin-right: 25px;
    margin-bottom: 25px;
}
.inner-article .post-meta, .post-meta .tags{
    display: block;
}
.edit-article .feature-3 i.warning{
    color: #d88519;
}
.w23p{
    width: 23%;
}
.w11p{
    width: 11%;
}
.w14p{
    width: 14%;
}
.w15p{
    width: 15%;
}

.w250px{
    width: 250px;
}
.article-list-img{
    max-width: 100%;
    max-height: 72px;
    width: auto;
}
.articles-list td a{
    font-size: 16px;
    display: block;
    line-height: 2;
}

.facebook-blog{
    margin-bottom: 15px;
    height: 28px;
    position: relative;
    clear: both;
}
.blog-block-image{
    background-color: #FFFFFF;
}

.pagination li span:hover, .pagination li.active span, .pagination li.active:hover span {
    background: #47b475;
    color: #fff;
    border-color: #47b475;
}

.pagination li span {
    width: 32px;
    height: 32px;
    text-align: center;
    padding: 6px 0;
    margin: 0 4px;
    color: #292929;
    font-weight: 400;
}

img.question-list{
    max-height: 30px;
    max-width: 50px;
    width: auto;
    height: auto;
}

.paginator{
    text-align: center;
}

.paginator ul.pagination li,
.tabbed-content .content .paginator ul.pagination li.active{
    display: inline-block;
}
.masonry-loader{
    top: 200px;
}
.referral-link{
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    background-color: #fffdf1;
    margin-bottom: 40px;
}
.referral-text{
    font-size: 16px;
}
p.discount{
    position:relative;
}
p.discount span.round{
    background-color: #ff7070;
    border-radius: 50%;
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    color: #FFFFFF;
    position: absolute;
    top: -35px;
    right: 0;
}

.question-payment{
    width: 100%;
    margin-top: 50px;
}

.question-payment tr td{
    padding: 10px;
    font-size: 16px;
}
.question-payment tr:not(:last-child){
    border-bottom: 1px solid gray;
}
.question-payment tr.inactive{
    color: darkgray;
}
.question-payment tr.question-price td{
    font-size: 20px;
}
.question-payment tr.question-total td:first-child{
    text-align: right;
}
.question-payment tr.question-total td{
    font-weight: bold;
    font-size: 24px;
}
.slider-credits{
    display: none;
    width: 50%;
    margin-top: 20px;
    padding-right: 20px;
    padding-left: 10px;
    overflow: visible;
    min-width: 150px;
}
.slider .tooltip{
    display: none;
}
.slider .tooltip.in{
    display: block;
}
.choose-credits input,
.choose-credits label{
    cursor: pointer;
}
.choose-credits .switcher{
    margin-bottom: 0;
}
.price-row{
    width: 100px;
}
.question-total #total_pay{
    font-weight: inherit;
}
.question-checkout input[type="submit"]{
    max-width: 200px;
}
.small-question-preview .question-body{
    text-align: justify;
}
.small-question-preview .question-body img{
    margin-bottom: 20px;
}
.small-question-preview{
    border-right: 1px solid #CCCCCC;
}

.last-payment-preview{
    width: 100%;
    margin: 10px;
    max-width: 500px;
}
.last-payment-preview tr.dimmed td{
    color: darkgray;
}
.last-payment-preview tr td{
    padding-bottom: 10px;
    font-size: 18px;
}
.last-payment-preview .question-price td{
    font-size: 20px;
}
.last-payment-preview tr.total-price td{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 22px;
}

.only-point-message{
    font-size: 16px;
}
.w100px{
    width: 100px;
}

.questions-container table tr{
    cursor: pointer;
}
.questions-container table tr:hover{
    background-color: #FBFBFB;
}

.terms-conditions ul{
    padding-left: 40px;
}
.terms-conditions p{
    margin-bottom: 15px;
}
.terms-conditions li:first-child{
    margin-top: 15px;
}
.terms-conditions li{
    margin-bottom:15px;
}
.terms-conditions h4{
    margin-top: 60px;
}

#feedback-icon{
    background: url("../images/feedback.png") 0 0 no-repeat transparent;
    height: 67px;
    width: 67px;
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 10;
}

.feedback-thank-you{
    text-align: center;
}

.feedback-thank-you i{
    font-size: 50px;
    color: #40A269;
    display: block;
    margin-bottom: 20px;
}