// @import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import "bootstrap.scss";
@import "AdminLTE.scss";
@import "skin-black.min.scss";

// custom
.cursor-pointer{
  cursor: pointer;
}

// margins
.mt-15px{
  margin-top: 15px;
}
.mr-15px{
  margin-right: 15px;
}

.w100px{
  width: 100px;
  text-align: center;
}

.w40px{
  width: 40px;
}

.w60px{
  width: 60px;
}

.admin-user-questions{
  max-width: 100px;
  max-height: 100px;
}

.table-hover.users-table>tbody>tr:hover{background-color:#FFFFCC;cursor:pointer;}
.table-hover.users-table>tbody>tr>td:first-child{
  width: 21px;
}

.hov-icon:before{
  display: none;
}

.table-hover>tbody>tr:hover>td:first-child i.hov-icon:before{
  display: inline-block;
}

.control-sidebar-dark{
  .tab-pane{
    input[type="number"], input[type="text"]{
      background-color: transparent;
      border: none;
      border-bottom: 1px solid gray;
      width: 60px;
      outline: 0;
    }
    input.email{
      float: none;
      display: block;
      width: 100%;
    }
    &:focus{
      outline: 0;
    }
  }
}

.dataTables_wrapper{
  .row{
    margin-left: 0;
    margin-right: 0;
  }
}

.answer-question-image{
  width: 100%;
  height: auto;
}

.question-date{
  font-size: 18px;
  fotn-weight: bold;
}

.question-ip{
  color: gray;
}

.question-body{
  font-size: 16px;
  margin-top: 10px;
}

.textarea-html5{
  width: 100%;
  height: 600px;
  border: 1px solid #dddddd;
  padding: 10px;
}